#landscape {
    flex-direction: column;
    height: 55vw;
}

#landscape .img-ctr {
    margin-left: 2rem;
    width: 60vw;
}

#landscape .img-attr {
    width: 70vw;
    margin-right: 2rem;
    padding: 0.2rem 1rem;
    align-self: flex-end;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

#landscape .img-attr .tags-list {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: stretch;
    margin-left: auto;
}

#landscape .img-attr .date {
    font-size: 1.6vw;
}

#landscape .img-attr .date>time {
    font-size: 1.7vw;
}