<article class="img-info"
         [id]="image.height < image.width ? 'landscape' : 'portrait'" *ngIf="image"
         data-test-id="image-detail-article">
	<div class="img-ctr">
		<img [src]="image.url"
		     [alt]="Object.keys(image.tags).join(' ')">
	</div>
	<div class="img-attr">
		<div class="tag-ctr">
			<ol class="tags-list" role="list">
				<li class="tag" *ngFor="let tag of this.sortTagsFor(image)" (click)="lookUpInGallery(tag[0])">
					{{tag[0]}}
					<span class="on-hover">Confidence: {{tag[1]}}</span>
				</li>
			</ol>
		</div>
		<div class="date">
			Analysed At: <time>{{image.analysedAt}}</time>
		</div>
	</div>
</article>