<div class="search-bar">
	<div class="search-ctr">
		<div class="add-tags">
			<input [(ngModel)]="inputTag" type="text" placeholder="select a tag..." data-test-id="input-tag">
			<button (click)="addTagFilter()" type="submit" data-test-id="add">Add</button>
			<button (click)="applyTagsFilter()" type="submit" data-test-id="search">Search</button>
		</div>
		<div *ngIf="selectedTags.size > 0" class="search-tags" data-test-id="selected-tags-ctr">
			<ul class="selected-tags">
				<li *ngFor="let tag of selectedTags" class="selected-tag">
					{{tag}}
					<button (click)="removeTag(tag)" class="delete">X</button>
				</li>
			</ul>
		</div>
	</div>
	<div class="reset-ctr">
		<button (click)="clearFilters()" class="reset" data-test-id="reset-all">Reset All</button>
	</div>
</div>